Repository luceroweb/karot-saving-smart, pull requests merged in 2022-07, with the labels that each got.

#99 Ga 88 redesign contact form
  Screens/ContactForm.tsx
  Screens/Overview.tsx
  Utils/types.ts
  package-lock.json
  package.json
Labels: help wanted, Contact Screen, UI, UX

#119 Xm 100 expense row
  Components/ExpenseCard.tsx
Labels: bug, Expenses, UI, UX

#122 feat(subject placeholder): Add default placeholder to subject state #121
  Screens/ContactForm.tsx
Labels: bug, UX

#140 feat(add expense): convert to component and position absolute #125
  Components/Expenses/AddExpense.tsx
  Screens/Overview.tsx
Labels: Expenses, UI, UX

#142 Jl 127 expense detail width
  Components/ExpenseCard.tsx
  Components/ExpenseDetailView.tsx
  Components/Expenses/AddExpense.tsx
  Screens/Overview.tsx
Labels: Expenses, UI, UX
