Repository luceroweb/karot-saving-smart, pull requests merged in 2022-05, with the labels that each got.

#15 Splash screen animation
  App.tsx
  Components/SplashScreenAnimation.tsx
  Images/logo/logo_combined.png
  Images/logo/logo_white-and-gold-bunny.png
  Images/logo/title_karot-saving-smart.png
  Images/splash-screen.png
  Utils/index.d.ts
  Utils/types.ts
  app.json
  package-lock.json
  package.json
Labels: Splash screen

#17 Sr 3 overview
  App.tsx
  Screens/Overview.tsx
Labels: Overview Screen

#20 Gh contact form 12
  App.tsx
  Components/ContactForm.js
  package-lock.json
  package.json
Labels: Contact
