Repository luceroweb/karot-saving-smart, pull requests merged in 2022-06, with the labels that each got.

#27 Tw 18 safe area view
  App.tsx
  package-lock.json
Labels: UI, UX

#21 Xm 10 expense card
  Components/ExpenseCard.tsx
  Screens/Overview.tsx
  package-lock.json
  package.json
Labels: Overview Screen, Expenses

#32 El 12 profile
  App.tsx
  Components/Login.js
  Screens/Login.tsx
  Screens/Profile.tsx
  package-lock.json
Labels: Profile Screen

#36 feat(Overview.tsx) : modify OverviewScreen to include profile icon #29
  Screens/Overview.tsx
Labels: Overview Screen, Profile Screen

#39 fix(splash screen): Add Font.loadAsync to splash screen component
  Components/SplashScreenAnimation.tsx
  package.json
Labels: bug

#40 Hb 38 convert profile icon into component
  Components/ProfileIcon.tsx
  Screens/Overview.tsx
Labels: Overview Screen, Profile Screen

#44 Xm 37 expense android
  Components/ExpenseCard.tsx
Labels: bug, Expenses

#49 Gh 30 display expense list
  Components/ExpenseCard.tsx
  Components/ExpenseList.tsx
  Screens/Overview.tsx
Labels: Expenses

#53 Js 16 merge splash login
  App.tsx
  Components/BudgetCard.tsx
  Components/SplashScreenAnimation.tsx
  Screens/Login.tsx
  package-lock.json
Labels: Intro Animation, Login Screen

#50 Tw 23 plus icon
  App.tsx
  Components/ExpenseModal.tsx
  Components/ExpensesForm.tsx
  Screens/Overview.tsx
  package-lock.json
  package.json
Labels: Overview Screen, Expenses

#54 Xm 46 font import
  App.tsx
  Components/AccountsDropDown.tsx
  Components/BudgetCard.tsx
  Components/ContactForm.js
  Components/ExpenseCard.tsx
  Screens/Login.tsx
  Screens/Profile.tsx
Labels: bug

#57 Db 41 Edit Add
  App.tsx
  Components/AccountModal.tsx
  Components/AccountsDropDown.tsx
  Utils/accountSlice.ts
  package-lock.json
Labels: Extra Money, Accounts, Data Management

#66 fix(ExpenseModal): turn date into Number in addExpense action
  Components/ExpenseModal.tsx
  package-lock.json
Labels: bug, Expenses

#68 fix(login button): add animation of opacity to login button #55
  Screens/Login.tsx
Labels: bug, Intro Animation, Login Screen

#71 fix(expense card): add conditional so if date is not given it defaults to today's date
  Components/ExpenseModal.tsx
Labels: bug, Expenses

#72 fix(native driver): set conditional on useNativeDriver #51
  Screens/Login.tsx
Labels: bug, Intro Animation, Login Screen

#73 Hb 43 f3 ef1 expense details view
  Components/ExpenseDetailView.tsx
  Components/ExpenseList.tsx
  Utils/expenseSlice.ts
  Utils/types.ts
  package-lock.json
  package.json
Labels: Expenses, UI

#77 Plus Icon to Add Account
  Components/AccountModal.tsx
  Components/AccountsDropDown.tsx
  Components/AddAccountButton.tsx
  Screens/Overview.tsx
  Utils/accountSlice.ts
Labels: Extra Money, UX, Accounts, Data Management

#75 fix(AccountsModal) : add a function that will prevent non-numerical c…
  Components/AccountModal.tsx
Labels: bug, Accounts

#76 Ajm 64 splash screen flicker
  Screens/Login.tsx
Labels: bug, Login Screen

#79 Ga 70 calcuate correct balance
  Components/AccountModal.tsx
  Screens/Overview.tsx
Labels: Extra Money, UX, Accounts

#85 Tw 61 error checking
  Components/ExpenseModal.tsx
Labels: bug, Expenses

#84 fix(AccountModal):add conditional for amount value and adjust height …
  Components/AccountModal.tsx
Labels: bug, Accounts

#83 fix(AccountModal): change value to Number in setAmount
  Components/AccountModal.tsx
Labels: bug, Extra Money, Accounts, Data Management

#89 Js 63 extra money redesign
  Components/AccountsDropDown.tsx
  Components/BudgetCard.tsx
Labels: Extra Money, UI, UX, Accounts

#90 fix(Overview): change the postion of profile icon from left to rigth …
  Screens/Overview.tsx
Labels: Profile Screen, UI

#91 Ajm 59 horizontal scroll bug
  Components/ExpenseCard.tsx
  Screens/Overview.tsx
Labels: bug, Overview Screen

#92 Hb 42 f2 af2] delete account update total balance
  Components/AccountModal.tsx
  Utils/accountSlice.ts
Labels: Extra Money, Accounts, Data Management

#96 feat(expense): redesign css and add bar with text
  Components/ExpenseCard.tsx
Labels: Expenses, UI, UX

#101 Db 62 bug edit fillin value
  Components/AccountModal.tsx
  Components/AccountsDropDown.tsx
  Components/AddAccountButton.tsx
  Components/BudgetCard.tsx
  Components/ReduxStateTest.tsx
  Utils/accountSlice.ts
  Utils/remainingBudgetSlice.ts
  Utils/types.ts
  package-lock.json
  package.json
Labels: bug, UX, Accounts, Data Management

#116 chore(fixed): fixed the word wrap and center the tiles
  Components/ExpenseCard.tsx
  Components/ExpenseList.tsx
  Components/ExpenseModal.tsx
  package.json
Labels: bug, UX

#114 Hsf 94 modify expense form
  Components/AccountModal.tsx
  Components/AccountsDropDown.tsx
  Components/ExpenseDetailView.tsx
  Components/ExpenseList.tsx
  Components/ExpenseModal.tsx
  Components/ReduxStateTest.tsx
  Screens/Overview.tsx
  Utils/appSlice.ts
  Utils/expenseSlice.ts
  Utils/store.js
  Utils/types.ts
Labels: Expenses, Extra Money, Data Management

#118 feat(ExpensesModal): add delete button and update extra money #95
  Components/ExpenseModal.tsx
  Utils/accountSlice.ts
  Utils/expenseSlice.ts
Labels: Expenses, Extra Money
